# Godot 4+ specific ignores
.godot/
.DS_Store
#scripts/IgnoranceIsBlissQuestions.csv
#scripts/IgnoranceIsBlissQuestions.csv.import
#scripts/GiveorTakeQuestions.csv
#scripts/GiveorTakeQuestions.csv.import
